*.py[cod]
__pycache__
.Python
images/*
!images/.gitkeep
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/
.python-version
.pytest_cache/
.coverage
htmlcov/
.tox/
.ipynb_checkpoints
*/.ipynb_checkpoints/*
profile_default/
ipython_config.py
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.Rapp.history
.RDataTmp
.Rprofile
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Renviron
*_cache/
/cache/
*.utf8.md
*.knit.md
*.log
.Rproj.user/
/doc/
/Meta/
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~